{% extends "base3.html" %}

{% block title %} Lucky Charm {% endblock %}

{% block content %}
   <h1>Bienvenido Usuario</h1> 
   <h1>Accesos Rápidos</h1>
      <div class="row">
        <div class="span3 features">
          <h4>Productos</h4>
          <div class="dotted_line">
          </div>
          <p class="left">
            Muestra en lista los diferentes prendas que tiene la tienda, ya sea que este en stock o no.
          </p>
          <a href="productos">Ver productos</a>
        </div>
        <div class="span3 features">
          <h4>Marcas</h4>
          <div class="dotted_line">
          </div>
          <p class="left">
            Dispone las diferentes marcas de las prendas que ofrecemos.
          </p>
          <a href="marcas">Ver Marcas</a>
        </div>
        <div class="span3 features">
          <h4>Clientes</h4>
          <div class="dotted_line">
          </div>
          <p class="left">
            Información sobre los diferentes clientes que han comprado en nuestra tienda.
          </p>
          <a href="clientes">Ver Clientes</a>
        </div>
        <div class="span3 features">
          <h4>Empleados</h4>
          <div class="dotted_line">
          </div>
          <p class="left">
            Información sobre los empleados que Lucky Charm tiene asu disposición.
          </p>
          <a href="empleados">Ver Empleados</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}